<h1>New Song</h1>

<form action="/songs" method="post">
  <label for="name"> Name: </label>
  <input id="name" type="text" name="song[name]">

  <label for="artist_name"> Name: </label>
  <input id="artist_name" type="text" name="song[artist]">

  <hr>
  <% @genres.each do |genre| %>
    <input
      type="checkbox"
      id="genre-<%= genre.id %>"
      name="song[genre_ids][]"
      value="<%= genre.id %>"
    >
    <label for="genre-<%= genre.id %>">
      <%= genre.name %>
    </label>
  <% end %>

  <hr>
  <input type="submit">
</form>
